.blog-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 25px;
    gap: 20px;
}
.bookmark-blog{
  margin-left: 20px;
  border-radius: 100%;
  /* background-color: rgb(35, 40, 76); */
  
}
